.line {
  display: flex;
}
.grid {
  margin-top: 50px;
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  border: 1px groove black;
}
.black-cell {
  background-color: rgb(8, 8, 8);
}
.cell > img {
  height: 18px;
}
.north-ant {
  transform: rotate(0deg);
}
.east-ant {
  transform: rotate(90deg);
}
.south-ant {
  transform: rotate(180deg);
}
.west-ant {
  transform: rotate(270deg);
}
.play-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
